.mainheading{
    text-align: center ;
}
.btn-travel {
    background-color: Purple; /* Purple */
    border: groove;
    color: white;
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 50px;
}

.btn-sports {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.btn-travel2 {
    background-color: #C4C2A5; /* moon white */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 50px;
}

.btn-travel2 {
    background-color: white; 
    color: black; 
    border: 2px solid #C4C2A5;
}

.btn-travel2:hover {
    background-color: #C4C2A5;
    color: white;
}

.btn-cloud {
    background-color: #C4C2A5; /* moon white */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 50px;
}

.btn-cloud {
    background-color: white; 
    color: black; 
    border: 2px solid #C4C2A5;
}

.btn-cloud:hover {
    background-color: #C4C2A5;
    color: white;
}

label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}

input{

}

fieldset{
border:none;
width:500px;
margin:0px auto;
}